<h2>
  Åpningstider
</h2>
<div class="opening">
  <table>
    <tr>
      <th></th>
      <th>Mandag</th>
      <th>Tirsdag</th>
      <th>Onsdag</th>
      <th>Torsdag</th>
      <th>Fredag</th>
      <th>Lørdag</th>
      <th>Søndag</th>
    </tr>
    <tr>
      <th>Fra</th>
      <td class="open">18:00</td>
      <td class="open">18:00</td>
      <td>Onsdag</td>
      <td>Torsdag</td>
      <td>Fredag</td>
      <td>Lørdag</td>
      <td>Søndag</td>
    </tr>
    <tr>
      <th>Til</th>
      <td class="open">21:00</td>
      <td class="open">21:00</td>
      <td>Onsdag</td>
      <td>Torsdag</td>
      <td>Fredag</td>
      <td>Lørdag</td>
      <td>Søndag</td>
    </tr>
  </table>

  <p>
    Mai, Juni, (Juli Ferie )August og September bør en være tidlig ute og gjerne møte opp mellom kl. 18.00. - 19.00.
    (Gjelder i Radøyhallen)
    Om noen av dagene er en Rød dag så er det stengt !
  </p>

</div>
